body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    position: relative;
    background-color: black;
}

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Prevent panning */
}

.square {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 50%;
    transform: rotateY(60deg);
}
