body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    perspective: 500px;
}



#textbox {
    position: absolute;
    top: 5%;
    width: 75%;
    color: white;
    font-size: 13px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    border: 4px solid green;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
